name: push-dev
on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md

jobs:
  deploy:
    defaults:
      run:
        working-directory: terraform/aws/environments/dev
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.OIDC_ROLE_DEV }}
          aws-region: ap-northeast-1
      - uses: ./.github/actions/terraform-apply
        with:
          terraform-exec-directory: terraform/aws/environments/dev
          terraform-version: 1.3.7
